name: Build CV

on:
  schedule:
    - cron: '1 0 1 * *' # Rebuild once a month, just after midnight on the 1st.
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow}}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
            show-progress: false
 
      - name: Install LaTeX Dependencies
        run: sudo apt update && sudo apt install latexmk texlive-xetex fonts-roboto

      - name: Run latexmk
        run: latexmk -xelatex cv.tex

      - name: Commit changed files
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: Build all .tex files
          file_pattern: '*.pdf'
          
